* {
  margin: 0;
  padding: 0;
}

body {
  background: #b847da;
  background: radial-gradient(circle, #b847da 0%, #000b3b 45%);
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit !important;
}

.lifeline-btn {
  border-radius: 20px;
  padding: 5px 10px;
}

.lifeline-btn:hover {
  cursor: pointer;
}

.lifeline-active {
  border: 3px solid goldenrod;
  background-color: #000b3b;
  color: white;
}

.lifeline-used {
  border: 3px solid darkgray;
  background-color: lightgray;
  color: gray;
}

.quit-btn {
  border-radius: 20px;
  background-color: #910909;
  padding: 6.5px 11.5px;
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: #000b3b !important;
}

.main-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
}

.main-screen {
  padding-top: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1rem 0;
}

.timer-screen {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer {
  margin-top: -7rem;
}

.option-btn {
  border-radius: 20px;
  color: white;
  width: 100%;
  margin: 0.3rem 0.25rem;
}

.answer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.opt-no {
  color: goldenrod;
  font-weight: 600;
}

.answer-normal {
  border: 3px solid #e4e1e1;
  background-color: #000b3b;
  padding: 7px 10px;
}

.answer-selected {
  border: 3px solid #e4e1e1;
  background-color: #b98c1b;
  padding: 7px 10px;
}

.answer-wrong {
  border: 3px solid #e4e1e1;
  background-color: #b81414;
  padding: 7px 10px;
}

.answer-correct {
  border: 3px solid #e4e1e1;
  background-color: green;
  padding: 7px 10px;
}

.answer-invalid {
  border: 3px solid #e4e1e1;
  background-color: gray;
  padding: 7px 10px;
}

.answer-container {
  max-width: 100%;
}

.question {
  border-radius: 20px;
  border: 3px solid #e4e1e1;
  background-color: #000b3b;
  padding: 7px 10px;
  color: white;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0.25rem;
  font-weight: 600;
}

.question-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qtree-container {
  padding: 1rem 0.5rem;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1rem 0;
  color: white;
}

.regis-form {
  margin-top: 4rem;
}

.regis-container {
  max-width: 500px !important;
  background-color: none !important;
  color: black !important;
}

#clockdiv {
  color: white;
}

.blurred-div {
  font-size: 0rem !important;
}

.display-none {
  display: none !important;
}

.current-ques {
  color: goldenrod;
}
/*# sourceMappingURL=main.css.map */