* {
  margin: 0;
  padding: 0;
}

$primary: #000b3b;

body {
  background: rgb(184, 71, 218);
  background: radial-gradient(
    circle,
    rgba(184, 71, 218, 1) 0%,
    rgba(0, 11, 59, 1) 45%
  );
}

// body {
//   background-image: url("https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product-plain-studio-background_1258-63885.jpg");
//   object-fit: fill !important;
//   background-repeat: no-repeat;
// }

a,
a:focus,
a:active,
a:hover {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit !important;
}

.border-green {
  //   border: 5px solid green;
}

.lifeline-btn {
  border-radius: 20px;

  padding: 5px 10px;
}
// 000b3b
.lifeline-btn:hover {
  cursor: pointer;
}

.lifeline-active {
  border: 3px solid goldenrod;
  background-color: $primary;
  color: white;
}

.lifeline-used {
  border: 3px solid darkgray;
  background-color: lightgray;
  color: gray;
}

.quit-btn {
  border-radius: 20px;
  background-color: rgb(145, 9, 9);
  padding: 6.5px 11.5px;
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: #000b3b !important;
}

.main-container {
  justify-content: center;
  padding-top: 3rem;
}
.main-screen {
  padding-top: 4rem;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1rem 0;
}

.timer-screen {
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
}

.timer {
  margin-top: -7rem;
}

.option-btn {
  border-radius: 20px;

  color: white;
  width: 100%;
  margin: 0.3rem 0.25rem;
}

.answer {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.opt-no {
  color: goldenrod;
  font-weight: 600;
}

.answer-normal {
  border: 3px solid rgb(228, 225, 225);
  background-color: $primary;
  padding: 7px 10px;
}

.answer-selected {
  border: 3px solid rgb(228, 225, 225);
  background-color: rgb(185, 140, 27);
  padding: 7px 10px;
}

.answer-wrong {
  border: 3px solid rgb(228, 225, 225);
  background-color: rgb(184, 20, 20);
  padding: 7px 10px;
}

.answer-correct {
  border: 3px solid rgb(228, 225, 225);
  background-color: green;
  padding: 7px 10px;
}

.answer-invalid {
  border: 3px solid rgb(228, 225, 225);
  background-color: gray;
  padding: 7px 10px;
}

.answer-container {
  max-width: 100%;
}

.question {
  border-radius: 20px;
  border: 3px solid rgb(228, 225, 225);
  background-color: $primary;
  padding: 7px 10px;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.25rem;
  font-weight: 600;
}

.question-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qtree-container {
  padding: 1rem 0.5rem;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1rem 0;
  color: white;
}

.regis-form {
  margin-top: 4rem;
}

.regis-container {
  max-width: 500px !important;
  background-color: none !important;
  color: black !important;
}

#clockdiv {
  color: white;
}

.blurred-div {
  font-size: 0rem !important;
}

.display-none {
  display: none !important;
}

.current-ques {
  color: goldenrod;
}

#check-right-answer:hover {
  cursor: pointer !important;
}
